.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffaf4;
  padding: 0 20px;
  padding-left: 40px; /* 로고 쫌 더 오른쪽으로 옮기는 부분 */
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav0,
.nav1,
.nav2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav1 {
  flex: 1;
  justify-content: center;
}

.nav2 {
  flex: 1;
  justify-content: flex-end;
}

.nav0 a,
.nav1 a,
.nav2 a,
.nav2 div {
  text-decoration: none;
  color: rgb(52, 52, 52);
  font-weight: bold;
  padding: 10px;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav0 a:hover,
.nav1 a:hover,
.nav2 a:hover,
.nav2 div:hover {
  /* color: #ff9a84;
   
  /* background-color: #ff9a84; */
  /* background-color: white; */
  color: #f15170; /* 원하는 글자색으로 변경 */
  padding: 23px 10px; /* 상하 패딩을 네비게이션 바의 높이에 맞게 조정 */
  font-size: 1.05em;
  /* border-radius: 0; 모서리를 둥글지 않게 설정 */
  /* height: 100%; 부모 요소의 높이에 맞게 설정 */
}

/* 메뉴 버튼과 navContainer : 화면 크기 줄면 반응형으로 container대신 menu버튼나오게 했는데 왜 안되냐고 */
@media (max-width: 100px) {
  .navContainer,
  .nav1,
  .nav2 {
    display: none; /* menu버튼 기본값은 none */
  }

  .show .navContainer,
  .show .nav1,
  .show .nav2 {
    display: flex; /* show 클래스가 적용되면 표시 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 중앙 정렬 */
  }
}

.menuButton {
  display: none; /* 기본적으로 메뉴 버튼 숨김 */
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.menuButton:hover {
  background-color: pink;
  color: white;
}
.show {
  display: flex !important; /* 'display: none'을 오버라이드 */
}

.navbarScrolled {
  height: 50px; /* 스크롤 시 Navbar 높이 70->50*/
  transition: height 0.3s ease-in-out;
}

/* 로고 이미지 크기가 네브바 높이에 따라 조정되도록 함 */
.navbar img {
  transition: width 0.3s ease-in-out;
  width: auto; /* 자동으로 너비 조정 */
  max-width: 90px; /* 최대 너비 제한 */
  height: auto; /* 높이를 자동으로 조정해서 비율 유지 */
}
/* 스크롤 시 로고 크기 조정 */
.navbarScrolled img {
  max-width: 50px; /* 스크롤 시 로고 최대 너비 줄임 */
}
/* 드롭다운 스타일링 */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer; /* 클릭 가능한 요소임을 나타내는 커서 스타일 */
}

/* 드롭다운 컨텐츠 기본 스타일 */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fffaf4; /* 드롭다운 배경색 */
  min-width: 260px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

/* 드롭다운 */
.show {
  /* display: block; */
}

/* 드롭다운 아이템 스타일링 */
.dropdownContent a {
  color: rgb(52, 52, 52);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* 드롭다운 아이템 호버 스타일링 */
.dropdownContent a:hover {
  background-color: #fffaf4; /* 호버 시 아이템 배경색 */
}
