.loginFormContainer {
  margin: 0 auto;
  width: 725px;
  height: 700px;
  display: flex;
  background: rgba(239, 232, 222, 0.2);
  margin-bottom: 50px;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: -300px;
}
.logo {
  display: flex;
  width: 80%;
  justify-content: center;
}
.logoIcon {
  width: 45%;
}
.submitBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.inputTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
#input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d1d0d0;
  background-color: transparent;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
}
.buttonBox {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #ffdbc6;
  width: 300px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  font-size: 23px;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.button:hover {
  background-color: #f8b195;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
