.FreeBoardContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(239, 232, 222, 0.2);
    border-radius: 20px;
    padding: 40px 80px;
    margin-bottom: 80px;
}
/* 윗 부분 */
.Head{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}
.profileImg{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 30px;
}
.headBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.userId{
    font-size: 30px;
    width: 100%;
}
.headInfo1{
    display: flex;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    gap: 10px;
}
.headInfo2{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}
.title{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
}
/* 중간 부분 */
.contents{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contentImg{
    display: flex;
    width: 50%;
    object-fit: cover;
    margin-bottom: 60px;
}

.contentText{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}
/* 댓글 부분 */
