.buttonContainer{
}
.button {
    padding: 10px 20px;
    background-color: #ffdbc6; /* 호버시 배경색 변경 */
    color: #333; /* 기본 글자색 */
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px; /* 둥근 모서리 */
    border: 0;
    cursor: pointer; /* 마우스 오버시 커서 변경 */
    transition: all 0.3s ease; /* 부드러운 색상 전환 효과 */
}

.button:hover {
    background-color: #fdb788; /* 기본 배경색 */
    text-decoration: none;
    border: 0;
}