.container {
  min-height: 500px;
  height: 1000px;
  background: rgba(239, 232, 222, 0.2);
  border: 3px solid #efe8de;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.Head {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  justify-content: center;
  border-bottom: 2px solid #e3e3e3;
}
.writer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3%;
  width: 25%;
}
.name {
  font-weight: bold;
  color: #2a2a2a;
}
.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  /* margin-right: 30px; */
}
.title {
  width: 60%;
  font-size: 30px;
  color: #2a2a2a;
}
.buttonbox {
  display: flex;
  width: 15%;
  float: right;
  justify-content: flex-end;
  margin-right: 5%;
}
