/* MyPage.module.css */
.mypageContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgba(239, 232, 222, 0.2);
}

.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  background-color: rgba(254, 202, 171, 0.38);
  border-radius: 30px;
  padding: 10px;
  text-decoration: none;
}
.profileImage {
  background-image: url("../../../assets/logo.png");
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
}
.profileName {
  font-size: 20px;
  color: black;
  font-weight: 700;
  padding-bottom: 5px;
  width: 100%;
}
.profileEmail {
  color: #989898;
}

.sidebar {
  justify-content: space-around;
  background-color: #ffffff;
  margin-left: 20px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid rgba(254, 202, 171, 0.76);
  border-radius: 30px;
  width: 15%;
}

.navigation {
}

.column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.icon {
  width: 20%;
  height: 20%;
  margin-left: 10px;
  margin-right: 10px;
}

.navLink {
  /* 스타일 */
  text-align: left;
  font-size: 14px;
  font-weight: 550;
  display: block;
  color: black; /* 기본 링크 색상 */
  text-decoration: none; /* 밑줄 없애기 */
}
.horizon {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.active {
  color: rgb(124, 124, 131); /* 활성 링크 색상 */
  font-weight: bold;
}
