.chat-room-list {
  position: relative;
  width: 430px;
  height: 932px;
  background: #ffffff;
}

.chat-room {
  position: relative;
  width: 430px;
  height: 116px;
  background: rgba(
    239,
    232,
    222,
    0.2
  ); /* 색상을 채팅방마다 다르게 조정할 수 있습니다. */
}

/* 여기에 다른 CSS 스타일을 추가... */
