/* 메시지 목록 스타일 */
.container{
    width: 100%;
}
.messageList {
    height: 300px;
    overflow-y: auto;
  }
  
  /* 메시지 항목 스타일 (기본) */
  .messageItem {
    text-align: left;
  }
  
  /* 현재 사용자의 메시지 스타일 */
  .messageItemCurrentUser {
    text-align: right;
  }
  
  /* 입력 필드 및 전송 버튼 컨테이너 스타일 */
  .inputContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  /* 입력 필드 스타일 */
  .inputField {
    flex-grow: 1;
    border: 0;
  border-bottom: 1px solid #d1d0d0;
  background-color: transparent;
  }
  
  /* 전송 버튼 스타일 */
  .sendButton {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-weight: 600;
  }
  .reserveButton{
    width: 100%;
  }