.worldcupContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: rgba(239, 232, 222, 0.2);
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.head{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.middle{
    display: flex;
}
.contents{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 80px;
    
}
.img{
    width: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 15px;
}
