.reviewItem{
    border: 1px solid #ddd; /* 테두리 */
    padding: 10px; /* 내부 여백 */
    margin-bottom: 10px; /* 하단 마진 */
    list-style-type: none; /* 기본 목록 스타일 제거 */
    background: rgba(239, 232, 222, 0.2);
    border: 1px solid #EFE8DE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .reviewItem:hover{
      background-color: #f8f8f8;
      cursor:pointer;
  }
  
  .boardhead {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 80px;
    border-radius: 15px;
    margin-bottom: 15px;
    background: rgba(254, 202, 171, 0.38);
  }
  
  .headtitle {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 7px;
  }
  
  .headtext {
    font-size: 16px;
  }
  
  .profile {
    border-radius: 30px;
    width: 50px;
  }
  
  .writer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .writer > div {
    margin-top: 10px;
  }
  
  .title {
    margin-left:70px;
  }
  
  .price {
    margin-left: auto;
    margin-right: 30px;
  }
